
.component-fav {
  color: rgba(0,0,0,.5);
  text-align: center;
  border-radius: 100%;
}
.component-fav span:nth-child(2) {
  display: none;
}
.component-fav.true {
  color: #ff7878;
}
.component-fav.true span:nth-child(1) {
  display: none;
}
.component-fav.true span:nth-child(2) {
  display: block;
}

.component-fav.isRounded {
  margin: 0 10px 10px auto;
  width: 55px;
  height: 55px;
  background-color: white;
  line-height: 58px;
  font-size: 25px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
}
